// VARIABLES
$text_color: hsl(228, 26%, 18%);
$text_color_light: hsl(0, 0%, 100%);
$text_color2: hsla(238, 60%, 48%, 0.75);
$popup_placeholder: hsla(226, 23%, 18%, 0.3);
$popup_border: hsla(226, 23%, 18%, 0.1);
$brand_color: hsl(3, 76%, 49%);
$btn_hover_color: hsl(2, 63%, 46%);
$brand_color2: hsl(238, 60%, 48%);
$brand_color2_light: hsl(240, 100%, 94%);
$brand_color2_semilight: hsl(240, 100%, 73%);
$bg_color: hsl(0, 0%, 100%);
$bg_color2: hsla(238, 60%, 48%, 0.6);
$bg_color3: hsl(240, 100%, 99%);
$header_color: hsla(0, 0%, 100%, 0.75);
$tr_time: 0.3s;

//ADAPTIVE

// Extra Small devices (small phones, 375px and up)
@media (min-width: 375px) {
  .section-head {
    .section-subtitle {
      font-size: 36px;
    }
  }
  .btn {
    font-size: 16px;
  }
  .header-top {
    margin-top: 26px;
  }
  .header-main {
    padding-bottom: 36px;
    .menu {
      &__link {
        font-size: 18px;
      }
      &__item:nth-child(n + 2) {
        margin-top: 12px;
      }
    }
    &__btn {
      margin-top: 26px;
    }
  }
  .offer__title {
    font-size: 36px;
  }
  .hero__img {
    width: 327px;
    height: 276px;
  }
  .banner__description-title {
    font-size: 24px;
  }
  .banner__description-text {
    font-size: 16px;
  }
  .swiper.courses__slider {
    max-width: 327px;
  }
  .introduce-card__img {
    width: 300px;
    height: 210px;
  }
  .form {
    padding: 52px 24px;
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      margin-bottom: 36px;
    }
    &__input-group {
      &:nth-last-child(n + 2) {
        margin-bottom: 16px;
      }
      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}

@media (min-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper.courses__slider {
    max-width: 470px;
  }
  .courses__slider {
    .swiper-pagination.slider-pagination {
      width: 470px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 60px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 70px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 40px;
      }
    }
    &.swiper-horizontal {
      .swiper-scrollbar {
        width: 425px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 576px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .hero__img {
    width: 540px;
    height: 456px;
  }
  .partners__slider {
    min-width: 540px;
  }
  .swiper.courses__slider {
    max-width: 540px;
  }
  .courses__slider {
    .swiper-pagination.slider-pagination {
      width: 540px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 52px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 70px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 38px;
      }
    }
    &.swiper-horizontal {
      .swiper-scrollbar {
        width: 495px;
      }
    }
  }
  .teachers-slider {
    width: 376px;
  }
  .introduce-card {
    &__img {
      width: 376px;
    }
    &:first-child {
      .introduce-card__img {
        object-position: 0px -50px;
      }
    }
    &:nth-child(2) {
      .introduce-card__img {
        object-position: 0px -135px;
      }
    }
    &:nth-child(4) {
      .introduce-card__img {
        object-position: 0px -85px;
      }
    }
    &:nth-child(5) {
      .introduce-card__img {
        object-position: 0px -155px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 756px;
  }
  .burger-menu {
    width: 40%;
    &.open {
      transform: translateX(60vw);
    }
    .header-main {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .offer {
    &__title {
      font-size: 46px;
    }
  }
  .video {
    &__button {
      width: 80px;
      height: 80px;
    }
  }
  .programs__cards-wrap {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .program-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 450px;
    height: 100%;
    row-gap: initial;
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
    &__header {
      margin-bottom: 32px;
    }
    &__list {
      margin-bottom: 32px;
    }
    &__cta {
      margin-top: auto;
    }
  }
  .banner {
    &__img {
      width: 360px;
      height: 480px;
    }
    &__description {
      text-align: center;
    }
  }
  .partners {
    &__slider {
      max-width: 720px;
      .partners__list {
        display: flex;
        justify-content: space-between;
        &-item {
          width: 100px !important;
        }
      }
    }
  }
  .subscribe {
    padding: 70px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__text {
      font-size: 24px;
      text-align: left;
      margin-bottom: 0;
      max-width: 550px;
    }
  }
  .courses__slider {
    &.swiper {
      max-width: 720px;
    }
    .swiper-pagination.slider-pagination {
      width: 720px;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 10px;
        padding-left: 0px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 0px;
        padding-left: 0px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 0px;
        padding-left: 15px;
      }
      .swiper-pagination-bullet-active:nth-child(5) {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
    &.swiper-horizontal .swiper-scrollbar {
      width: 720px;
      left: auto;
    }
    .slider-card {
      padding: 30px 35px;
      &__info {
        flex-direction: row;
        justify-content: space-between;
      }
      .info-item {
        max-width: 200px;
        &__title {
          font-size: 18px;
        }
        &:nth-last-child(n + 2) {
          margin-bottom: 0;
        }
      }
    }
    .slider-title {
      font-size: 24px;
    }
  }
  .teachers-slider {
    width: 720px;
  }
  .introduce-card {
    &:first-child .introduce-card__img {
      object-position: 0px 0px;
    }
    &:nth-child(2) .introduce-card__img {
      object-position: 0px -90px;
    }
    &:nth-child(4) .introduce-card__img {
      object-position: 0px -55px;
    }
    &:nth-child(5) .introduce-card__img {
      object-position: 0px -100px;
    }
    &__img {
      width: 276px;
    }
  }
  .whats-need {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .section-head {
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
      align-items: flex-start;
      text-align: left;
      max-width: 470px;
    }
    &__list {
      max-width: 470px;
    }
  }
  .benefits {
    &__wrap {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 80px;
    }
    &__item {
      width: 200px;
      &:nth-last-child(n + 2) {
        margin-bottom: 0;
      }
    }
  }
  .questions {
    &__wrap {
      flex-direction: row;
      justify-content: space-between;
    }
    &__content {
      text-align: left;
      max-width: 400px;
      margin-bottom: 0;
    }
  }
  .footer-nav {
    width: 600px;
    justify-content: space-around;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 955px;
    padding: 0;
  }
  .section-head {
    .section-subtitle {
      font-size: 40px;
    }
  }
  .header-mobile {
    display: none;
  }
  .header-top {
    flex-direction: row;
    justify-content: space-between;
    &__social {
      margin-top: 0;
      margin-left: -10px;
    }
    &__contacts {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      margin-right: -10px;
      .contact__item:first-child {
        margin-bottom: 0;
        margin-right: 18px;
      }
    }
  }
  .header-desktop {
    transform: translateX(0);
    position: sticky;
    top: 0;
    left: 0;
    height: initial;
    margin-top: 0;
    padding-top: 0;
    flex-direction: column;
    width: 100%;
    z-index: 12;
    box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
    background-color: $header_color;
    &:hover {
      background-color: $bg_color;
    }
    .header-top {
      margin-top: 0;
      padding: 6px 0;
    }
    .header-main {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 6px 0;
      border-bottom: none;
      border-top: 1px solid $brand_color2_light;
      .logo {
        display: block;
      }
      &__navbar {
        display: flex;
        flex-direction: row;
        .menu {
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: row;
          &__item:nth-child(n + 2) {
            margin-top: 0;
          }
          &__link {
            font-size: 14px;
          }
        }
      }
      &__btn {
        padding: 14px 28px;
        margin-top: 0;
        min-width: 230px;
      }
    }
  }
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
  }
  .offer {
    align-items: flex-start;
    padding-right: 435px;
    &__title {
      text-align: left;
      br {
        display: none;
      }
    }
    .hero__img-wrap {
      position: absolute;
      top: 0;
      right: 0;
    }
    .hero__img {
      width: 470px;
      height: 515px;
      box-shadow: none;
      border-radius: 0;
      object-position: 0 -65px;
      background-color: $bg_color;
    }
    &__btn {
      margin-bottom: 0;
    }
  }
  .greeting {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .video {
    padding-bottom: 46%;
  }
  .programs {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .programs__cards-wrap {
    align-items: stretch;
  }
  .program-card {
    min-height: 470px;
    &__header {
      min-height: 182px;
    }
  }
  .banner-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .banner {
    padding: 75px 40px 75px 445px;
    flex-direction: row;
    position: relative;
    &__img {
      position: absolute;
      top: -37px;
      left: 40px;
      margin: 0;
    }
    &__description {
      align-items: flex-start;
      text-align: left;
      &-title {
        font-size: 28px;
      }
    }
  }
  .partners {
    padding-top: 80px;
    padding-bottom: 80px;
    &__slider {
      max-width: 960px;
      height: 40px;
      .partners__list {
        display: flex;
        justify-content: space-between;
        &-item {
          width: initial !important;
        }
        .partner__img {
          width: initial;
          height: initial;
        }
      }
    }
  }
  .subscribe-section {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .subscribe {
    &__text {
      font-size: 32px;
    }
  }
  .courses {
    padding-bottom: 40px;
  }
  .courses__slider {
    &.swiper {
      max-width: 920px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 40px;
    }
    .swiper-pagination.slider-pagination {
      width: 920px;
      padding: 0 60px;
    }
    &.swiper-horizontal .swiper-scrollbar {
      width: 800px;
    }
    .slider-card {
      padding: 35px 40px;
      box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
      .info-item {
        max-width: 235px;
      }
    }
    .slider-btn {
      display: block;
      position: absolute;
      &.slider__next-btn {
        right: 30px;
        .slider-btn__arrow-img {
          margin-left: 6px;
          margin-top: 4px;
        }
      }
      &.slider__prev-btn {
        left: 30px;
        .slider-btn__arrow-img {
          margin-left: 3px;
          margin-top: 4px;
        }
      }
    }
  }
  .teachers {
    padding-top: 90px;
    padding-bottom: 40px;
  }
  .teachers-slider {
    width: 960px;
    .swiper-pagination-bullets {
      &.swiper-pagination-bullets {
        bottom: 20px;
      }
    }
    .slider-btn {
      display: block;
      position: absolute;
      border-radius: 10px;
      width: 280px;
      box-shadow: none;
      top: initial;
      bottom: 0;
      &.slider__next-btn {
        right: 15px;
        .slider-btn__arrow-img {
          margin-left: 6px;
          margin-top: 4px;
        }
      }
      &.slider__prev-btn {
        left: 23px;
        .slider-btn__arrow-img {
          margin-left: 3px;
          margin-top: 4px;
        }
      }
    }
  }
  .whats-need-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .whats-need {
    padding: 80px 70px;
  }
  .benefits {
    padding-top: 80px;
    padding-bottom: 80px;
    .section-head {
      margin-bottom: 82px;
    }
    &__wrap {
      justify-content: space-around;
    }
  }
  .questions {
    padding-top: 100px;
    padding-bottom: 100px;
    &__content {
      max-width: 600px;
    }
    &__title {
      font-size: 48px;
    }
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 30px;
    &-main {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 52px;
    }
    &__item {
      margin-bottom: 0;
      margin-top: -10px;
      width: 200px;
      text-align: left;
      .logo {
        margin-left: -30px;
      }
    }
    &-nav {
      width: initial;
      justify-content: start;
      margin-bottom: 0;
      margin-top: -10px;
      &__list {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .contact-info {
      width: 270px;
      text-align: left;
      &__value {
        &:last-child {
          margin-bottom: 0;
          justify-content: flex-start;
        }
      }
    }
    &-info {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 32px;
      &__social {
        margin-left: -10px;
      }
      &__list {
        margin-bottom: 0;
        margin-right: -10px;
        display: flex;
        flex-direction: row;
      }
    }
  }
  .popup {
    &__img {
      display: block;
    }
    &-form {
      padding: 52px 70px 52px 52px;
      &__title {
        text-align: left;
      }
      &__subtitle {
        text-align: left;
      }
    }
    .close-btn {
      top: 24px;
      right: 24px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .section-head {
    margin-bottom: 48px;
    .section-subtitle {
      font-size: 48px;
    }
  }
  .header-main {
    .menu {
      margin-left: 145px;
      &__item {
        &:nth-of-type(n + 2) {
          margin-left: 12px;
        }
      }
    }
  }
  .hero {
    padding-top: 125px;
    padding-bottom: 143px;
  }
  .offer {
    padding-right: 590px;
    &__title {
      font-size: 56px;
      line-height: 1.3;
      margin-bottom: 54px;
    }
    .hero__img {
      width: 605px;
      height: 638px;
      object-position: 0 -130px;
    }
  }
  .greeting {
    padding-top: 54px;
  }
  .video {
    padding-bottom: 38%;
  }
  .program-card {
    max-width: 277px;
    min-height: 477px;
    &:nth-last-of-type(n + 2) {
      margin-bottom: 0;
    }
    &__header {
      br {
        display: block;
      }
    }
  }
  .banner {
    padding: 100px 70px 100px 540px;
    &__description-title {
      font-size: 32px;
    }
    &__img {
      width: 400px;
      height: 533px;
      top: -47px;
      left: 70px;
    }
  }
  .partners__slider {
    max-width: 1160px;
  }
  .subscribe {
    padding: 100px 70px;
    &__text {
      font-size: 36px;
      max-width: 600px;
    }
  }
  .courses__slider {
    &.swiper {
      padding-left: 125px;
      padding-right: 125px;
      max-width: 1180px;
    }
    .swiper-pagination.slider-pagination {
      width: 1060px;
      padding-right: 5px;
      padding-left: 120px;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 0;
      }
    }
    &.swiper-horizontal .swiper-scrollbar {
      width: 930px;
    }
    .slider-card {
      padding: 48px 52px;
      .info-item {
        max-width: 262px;
        &__title {
          font-size: 20px;
        }
      }
    }
    .slider-btn {
      &.slider__next-btn {
        right: 25px;
      }
      &.slider__prev-btn {
        left: 25px;
      }
    }
  }
  .teachers-slider {
    width: 1160px;
    .slider-btn {
      width: 346px;
    }
  }
  .introduce-card {
    &__img {
      width: 376px;
    }
    &:first-child .introduce-card__img {
      object-position: 0px -45px;
    }
    &:nth-child(2) .introduce-card__img {
      object-position: 0px -145px;
    }
    &:nth-child(4) .introduce-card__img {
      object-position: 0px -85px;
    }
    &:nth-child(5) .introduce-card__img {
      object-position: 0px -150px;
    }
  }
  .whats-need {
    .section-head {
      .section-subtitle {
        font-size: 40px;
      }
    }
  }
  .questions__wrap {
    padding-left: 70px;
    padding-right: 70px;
  }
  .footer-nav__list:first-child {
    margin-right: 35px;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .offer {
    padding-right: 650px;
    .hero__img {
      width: 660px;
    }
  }
  .video {
    padding-bottom: 33.5%;
  }
  .banner {
    padding-right: 120px;
    padding-left: 650px;
    &__img {
      left: 120px;
    }
  }
  .partners__slider {
    max-width: 1320px;
  }
  .subscribe {
    padding-left: 120px;
    padding-right: 120px;
  }
  .teachers-slider {
    width: 1320px;
    .slider-btn {
      width: 400px;
    }
  }
  .whats-need {
    padding-left: 120px;
    padding-right: 120px;
  }
  .questions__wrap {
    padding-left: 110px;
    padding-right: 110px;
  }
  .footer-nav__list:first-child {
    margin-right: 80px;
  }
}
