// VARIABLES
$text_color: hsl(228, 26%, 18%);
$text_color_light: hsl(0, 0%, 100%);
$text_color2: hsla(238, 60%, 48%, 0.75);
$popup_placeholder: hsla(226, 23%, 18%, 0.3);
$popup_border: hsla(226, 23%, 18%, 0.1);
$brand_color: hsl(3, 76%, 49%);
$btn_hover_color: hsl(2, 63%, 46%);
$brand_color2: hsl(238, 60%, 48%);
$brand_color2_light: hsl(240, 100%, 94%);
$brand_color2_semilight: hsl(240, 100%, 73%);
$bg_color: hsl(0, 0%, 100%);
$bg_color2: hsla(238, 60%, 48%, 0.6);
$bg_color3: hsl(240, 100%, 99%);
$header_color: hsla(0, 0%, 100%, 0.75);
$tr_time: 0.3s;

//ADAPTIVE

// Extra Small devices (small phones, 375px and up)
@media (min-width: 375px) {
  .section-head {
    .section-subtitle {
      font-size: 36px;
    }
  }
  .btn {
    font-size: 16px;
  }
  .offer__title {
    font-size: 36px;
  }
  .hero__img {
    width: 327px;
    height: 276px;
  }
  .banner__description-title {
    font-size: 24px;
  }
  .banner__description-text {
    font-size: 16px;
  }
  .swiper.courses__slider {
    max-width: 327px;
  }
  .introduce-card__img {
    width: 300px;
    height: 210px;
  }
}

@media (min-width: 500px) {
  .container {
    padding: 0 15px;
  }
  .swiper.courses__slider {
    max-width: 470px;
  }
  .courses__slider {
    .swiper-pagination.slider-pagination {
      width: 470px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 60px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 70px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 40px;
      }
    }
    &.swiper-horizontal {
      .swiper-scrollbar {
        width: 425px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 576px;
    padding: 0 18px;
  }
  .hero__img {
    width: 540px;
    height: 456px;
  }
  .partners__slider {
    min-width: 540px;
  }
  .swiper.courses__slider {
    max-width: 540px;
  }
  .courses__slider {
    .swiper-pagination.slider-pagination {
      width: 540px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 52px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 70px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 38px;
      }
    }
    &.swiper-horizontal {
      .swiper-scrollbar {
        width: 495px;
      }
    }
  }
  .teachers-slider {
    width: 376px;
  }
  .introduce-card {
    &__img {
      width: 376px;
    }
    &:first-child {
      .introduce-card__img {
        object-position: 0px -50px;
      }
    }
    &:nth-child(2) {
      .introduce-card__img {
        object-position: 0px -135px;
      }
    }
    &:nth-child(4) {
      .introduce-card__img {
        object-position: 0px -85px;
      }
    }
    &:nth-child(5) {
      .introduce-card__img {
        object-position: 0px -155px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
