// VARIABLES
$text_color: hsl(228, 26%, 18%);
$text_color_light: hsl(0, 0%, 100%);
$text_color2: hsla(238, 60%, 48%, 0.75);
$popup_placeholder: hsla(226, 23%, 18%, 0.3);
$popup_border: hsla(226, 23%, 18%, 0.1);
$brand_color: hsl(3, 76%, 49%);
$btn_hover_color: hsl(2, 63%, 46%);
$brand_color2: hsl(238, 60%, 48%);
$brand_color2_light: hsl(240, 100%, 94%);
$brand_color2_semilight: hsl(240, 100%, 73%);
$bg_color: hsl(0, 0%, 100%);
$bg_color2: hsla(238, 60%, 48%, 0.6);
$bg_color3: hsl(240, 100%, 99%);
$header_color: hsla(0, 0%, 100%, 0.75);
$tr_time: 0.3s;

//ADAPTIVE

// Extra Small devices (small phones, 375px and up)
@media (min-width: 375px) {
  .section-head {
    .section-subtitle {
      font-size: 36px;
    }
  }
  .btn {
    font-size: 16px;
  }
  .header-top {
    margin-top: 26px;
  }
  .header-main {
    padding-bottom: 36px;
    .menu {
      &__link {
        font-size: 18px;
      }
      &__item:nth-child(n + 2) {
        margin-top: 12px;
      }
    }
    &__btn {
      margin-top: 26px;
    }
  }
  .offer__title {
    font-size: 36px;
  }
  .hero__img {
    width: 327px;
    height: 276px;
  }
  .banner__description-title {
    font-size: 24px;
  }
  .banner__description-text {
    font-size: 16px;
  }
  .swiper.courses__slider {
    max-width: 327px;
  }
  .introduce-card__img {
    width: 300px;
    height: 210px;
  }
  .form {
    padding: 52px 24px;
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      margin-bottom: 36px;
    }
    &__input-group {
      &:nth-last-child(n + 2) {
        margin-bottom: 16px;
      }
      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}

@media (min-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper.courses__slider {
    max-width: 470px;
  }
  .courses__slider {
    .swiper-pagination.slider-pagination {
      width: 470px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 60px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 70px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 40px;
      }
    }
    &.swiper-horizontal {
      .swiper-scrollbar {
        width: 425px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 576px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .hero__img {
    width: 540px;
    height: 456px;
  }
  .partners__slider {
    min-width: 540px;
  }
  .swiper.courses__slider {
    max-width: 540px;
  }
  .courses__slider {
    .swiper-pagination.slider-pagination {
      width: 540px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet-active:nth-child(2) {
        padding-right: 52px;
      }
      .swiper-pagination-bullet-active:nth-child(3) {
        padding-right: 70px;
      }
      .swiper-pagination-bullet-active:nth-child(4) {
        padding-right: 38px;
      }
    }
    &.swiper-horizontal {
      .swiper-scrollbar {
        width: 495px;
      }
    }
  }
  .teachers-slider {
    width: 376px;
  }
  .introduce-card {
    &__img {
      width: 376px;
    }
    &:first-child {
      .introduce-card__img {
        object-position: 0px -50px;
      }
    }
    &:nth-child(2) {
      .introduce-card__img {
        object-position: 0px -135px;
      }
    }
    &:nth-child(4) {
      .introduce-card__img {
        object-position: 0px -85px;
      }
    }
    &:nth-child(5) {
      .introduce-card__img {
        object-position: 0px -155px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 756px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0;
  }
  .header-mobile {
    display: none;
  }
  .header-top {
    flex-direction: row;
    justify-content: space-between;
    &__social {
      margin-top: 0;
      margin-left: -10px;
    }
    &__contacts {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      margin-right: -10px;
      .contact__item:first-child {
        margin-bottom: 0;
        margin-right: 18px;
      }
    }
  }
  .header-desktop {
    transform: translateX(0);
    position: sticky;
    top: 0;
    left: 0;
    height: initial;
    margin-top: 0;
    padding-top: 0;
    flex-direction: column;
    width: 100%;
    z-index: 12;
    box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
    background-color: $header_color;
    &:hover {
      background-color: $bg_color;
    }
    .header-top {
      margin-top: 0;
      padding: 6px 0;
    }
    .header-main {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 6px 0;
      border-bottom: none;
      border-top: 1px solid $brand_color2_light;
      .logo {
        display: block;
      }
      &__navbar {
        display: flex;
        flex-direction: row;
        .menu {
          flex-direction: row;
          &__item:nth-child(n + 2) {
            margin-top: 0;
          }
          &__link {
            font-size: 14px;
          }
        }
      }
      &__btn {
        padding: 14px 28px;
        margin-top: 0;
      }
    }
  }
  .hero {
    padding-top: 120px;
    padding-bottom: 143px;
    position: relative;
  }
  .offer {
    align-items: flex-start;
    padding-right: 435px;
    &__title {
      text-align: left;
      font-size: 46px;
      br {
        display: none;
      }
    }
    .hero__img-wrap {
      position: absolute;
      top: 0;
      right: 0;
    }
    .hero__img {
      width: 470px;
      height: 597px;
      box-shadow: none;
      border-radius: 0;
      object-position: 0px 0px;
      background-color: $bg_color;
    }
  }
  .greeting {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .video {
    padding-bottom: 46%;
    &__button {
      width: 80px;
      height: 80px;
    }
  }
  .programs {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .programs__cards-wrap {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .program-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 450px;
    height: 100%;
    row-gap: initial;
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
    &__header {
      margin-bottom: 32px;
    }
    &__list {
      margin-bottom: 32px;
    }
    &__cta {
      margin-top: auto;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
