// VARIABLES
$text_color: hsl(228, 26%, 18%);
$text_color_light: hsl(0, 0%, 100%);
$text_color2: hsla(238, 60%, 48%, 0.75);
$popup_placeholder: hsla(226, 23%, 18%, 0.3);
$popup_border: hsla(226, 23%, 18%, 0.1);
$brand_color: hsl(3, 76%, 49%);
$btn_hover_color: hsl(2, 63%, 46%);
$brand_color2: hsl(238, 60%, 48%);
$brand_color2_light: hsl(240, 100%, 94%);
$brand_color2_semilight: hsl(240, 100%, 73%);
$bg_color: hsl(0, 0%, 100%);
$bg_color2: hsla(238, 60%, 48%, 0.6);
$bg_color3: hsl(240, 100%, 99%);
$header_color: hsla(0, 0%, 100%, 0.75);
$tr_time: 0.3s;
// TEMPLATES
%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
%column {
  display: flex;
  flex-direction: column;
}
%align-center {
  display: flex;
  align-items: center;
}
%justify-center {
  display: flex;
  justify-content: center;
}
// MIXINS
@mixin font($ff, $fw, $fz) {
  font-family: $ff, sans-serif;
  font-weight: $fw;
  font-size: $fz;
}
// COMMON STYLES
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: inline-flex;
  transition: 0.3s;
  padding: 10px;
}
input {
  font: inherit;
  border: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: $bg_color;
  color: $text_color;
  min-width: 320px;
}
a {
  color: $text_color;
  padding: 10px;
  transition: 0.3s;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.section-head {
  text-align: center;
  margin-bottom: 35px;
  .section-title {
    text-transform: uppercase;
    @extend %flex-center-center;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 40px;
      height: 1px;
      background-color: $brand_color;
      margin-top: -2px;
      margin-right: 13px;
    }
  }
  .section-subtitle {
    @include font("Montserrat", 800, 32px);
    line-height: 1.3;
  }
}
.logo {
  margin-left: -10px;
}
.contacts {
  .contact__item {
    display: flex;
    align-items: center;
    &:first-child {
      margin-bottom: 8px;
    }
    .contact__link:hover,
    .contact__link:focus-within {
      color: $brand_color;
    }
  }
}
.menu {
  @extend %flex-column-center;
  .menu__item:nth-child(n + 2) {
    margin-top: 8px;
  }
  .menu__link {
    @include font("Montserrat", 700, 14px);
    &:hover,
    &:focus-within {
      color: $brand_color2;
    }
  }
}
.social {
  @extend %flex-center-center;
  &__link {
    font-size: 16px;
    &:hover {
      color: $brand_color;
    }
  }
}
.btn {
  @include font("Montserrat", 700, 14px);
  padding: 14px 28px;
  background-color: $brand_color;
  color: $text_color_light;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  .header-main__btn-img {
    margin-right: 10px;
    margin-top: -1px;
  }
  &:hover,
  &:focus-within {
    background-color: $btn_hover_color;
  }
}
.form {
  padding: 40px 16px;
  &__title {
    @include font("Montserrat", 800, 30px);
    color: $brand_color2;
    text-align: center;
    margin-bottom: 12px;
  }
  &__subtitle {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 26px;
  }
  &__label {
    @include font("Montserrat", 700, 14px);
    padding-left: 6px;
  }
  &__input-group {
    &:nth-last-child(n + 2) {
      margin-bottom: 12px;
    }
    &:last-of-type {
      margin-bottom: 24px;
    }
  }
  &__input {
    border: 1px solid $popup_border;
    padding: 16px 0 19px 20px;
    border-radius: 40px;
    margin-top: 8px;
    min-width: 220px;
    width: 100%;
    &::-webkit-input-placeholder {
      color: $popup_placeholder;
    }
    &::-moz-placeholder {
      color: $popup_placeholder;
    }
    &:-moz-placeholder {
      color: $popup_placeholder;
    }
    &:-ms-input-placeholder {
      color: $popup_placeholder;
    }
  }
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
