// VARIABLES
$text_color: hsl(228, 26%, 18%);
$text_color_light: hsl(0, 0%, 100%);
$brand_color: hsl(3, 76%, 51%);
$btn_hover_color: hsl(2, 63%, 46%);
$brand_color2: hsl(238, 60%, 48%);
$brand_color2_light: hsl(240, 100%, 94%);
$bg_color: hsl(0, 0%, 100%);
$bg_color2: hsla(238, 60%, 48%, 0.6);
$header_color: hsla(0, 0%, 100%, 0.75);
$tr_time: 0.3s;
// TEMPLATES
%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// MIXINS
@mixin font($ff, $fw, $fz) {
  font-family: $ff, sans-serif;
  font-weight: $fw;
  font-size: $fz;
}
// COMMON STYLES
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: inline-flex;
  transition: 0.3s;
  padding: 10px;
}
input {
  font: inherit;
  border: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: $bg_color;
  color: $text_color;
}
a {
  color: $text_color;
  padding: 10px;
  transition: 0.3s;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.section-head {
  text-align: center;
  margin-bottom: 35px;
  .section-title {
    text-transform: uppercase;
    @extend %flex-center-center;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 40px;
      height: 1px;
      background-color: $brand_color;
      margin-top: -2px;
      margin-right: 13px;
    }
  }
  .section-subtitle {
    @include font("Montserrat", 800, 36px);
    line-height: 1.3;
  }
}
.logo {
  margin-left: -10px;
}
.contacts {
  .contact__item {
    display: flex;
    align-items: center;
    &:first-child {
      margin-bottom: 8px;
    }
    .contact__link:hover {
      color: $brand_color;
    }
  }
}
.btn {
  @include font("Montserrat", 700, 16px);
  padding: 14px 9%;
  background-color: $brand_color;
  color: $text_color_light;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  .header-main__btn-img {
    margin-right: 10px;
    margin-top: -1px;
  }
  &:hover {
    background-color: $btn_hover_color;
  }
}
