@import "fonts.scss";
@import "reset.scss";
@import "common.scss";
// VARIABLES
$text_color: hsl(228, 26%, 18%);
$text_color_light: hsl(0, 0%, 100%);
$text_color2: hsla(238, 60%, 48%, 0.75);
$brand_color: hsl(3, 76%, 49%);
$btn_hover_color: hsl(2, 63%, 46%);
$brand_color2: hsl(238, 60%, 48%);
$brand_color2_light: hsl(240, 100%, 94%);
$bg_color: hsl(0, 0%, 100%);
$bg_color2: hsla(238, 60%, 48%, 0.65);
$bg_color3: hsl(240, 100%, 99%);
$header_color: hsla(0, 0%, 100%, 0.75);
$tr_time: 0.3s;
// TEMPLATES
%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
%column {
  display: flex;
  flex-direction: column;
}
%align-center {
  display: flex;
  align-items: center;
}
// MIXINS
@mixin font($ff, $fw, $fz) {
  font-family: $ff, sans-serif;
  font-weight: $fw;
  font-size: $fz;
}
// HEADER START
.header-mobile {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 12;
  background-color: $header_color;
}
.header-mobile__wrap {
  @extend %flex-between-center;
  position: relative;
  padding: 16px 24px;
  transition: $tr_time;
  max-width: 100%;
  &.shadow {
    box-shadow: 0px 5px 20px hsla(0, 0%, 11%, 0.1);
  }
  &:hover {
    background-color: $bg_color;
  }
}
.header-btn {
  background: url(../img/bar.svg) no-repeat 50% 50%;
  margin-right: -10px;
  padding: 20px;
  &.close {
    background: url(../img/cross.svg) no-repeat 50% 50%;
  }
}
.burger-menu {
  @extend %column-reverse;
  justify-content: flex-end;
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100vh;
  background-color: $bg_color;
  margin-top: -90px;
  padding-top: 100px;
  transition: $tr_time;
  overflow-y: hidden;
  transform: translateX(100vw);
  &.open {
    transform: translateX(0);
  }
  &.transition {
    transition: $tr_time;
  }
  .burger-menu__top-nav {
    @extend %flex-between-center;
    .menu__close-btn {
      position: absolute;
      right: 26px;
      top: 27px;
      z-index: 100;
      background-color: $bg_color;
    }
  }
}
.header-top {
  @extend %column-reverse;
  align-items: center;
  @include font("Roboto", 900, 14px);
  &__contacts {
    margin-top: 63px;
  }
}
.header-main {
  @extend %flex-column-center;
  .logo {
    display: none;
  }
  &__btn {
    margin-top: 26px;
  }
}
.menu {
  @extend %flex-column-center;
  .menu__item:nth-child(n + 2) {
    margin-top: 12px;
  }
  .menu__link {
    @include font("Montserrat", 700, 18px);
    &:hover,
    &:focus-within {
      color: $brand_color2;
    }
  }
}
.social {
  @extend %flex-center-center;
  &.header-top__social {
    margin-top: 16px;
  }
}
// HEADER END

// HERO START
.hero {
  padding-top: 48px;
  padding-bottom: 30px;
}
.offer {
  @extend %flex-column-center;
  &__title {
    @include font("Montserrat", 800, 36px);
    text-align: center;
    margin-bottom: 40px;
    span {
      color: $brand_color;
    }
  }
  &__text {
    @include font("Lato", 700, 16px);
    order: -1;
    text-align: center;
    color: $brand_color2;
    margin-bottom: 28px;
  }
  &__btn {
    margin-bottom: 52px;
  }
  .hero__img {
    border-radius: 12px;
    object-position: 0px -86px;
    box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  }
}
//HERO END
// GREETING START
.greeting {
  padding-top: 30px;
  padding-bottom: 80px;
  background: linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.6)),
    url(../img/flag-bg.webp) no-repeat 0 100% / 100% 168px;
}
.hidden {
  display: none !important;
}
.video-youtube {
  position: relative;
  width: 327px;
  padding-top: 3px;
  margin: 0 auto;
  height: 186px;
  &.video-youtube_overlay {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 12px;
      background: linear-gradient($bg_color2, $bg_color2),
        url(../img/video-img.webp) no-repeat 50% 50% / cover;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 5;
    }
  }
  .video-youtube__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.video-youtube__content_hide-origin-play-btn {
      width: 10000%;
      height: 10000%;
      transform: scale(0.01);
      transform-origin: top left;
      &::selection {
        background-color: transparent;
      }
    }
  }
  .video-youtube__new-play-btn {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    background-image: url(../img/play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    &:hover,
    &:focus-within {
      background-image: url(../img/play-active.svg);
    }
  }
}
//GREETING END
//PROGRAMS START
.programs {
  padding-top: 60px;
  padding-bottom: 40px;
  &__cards-wrap {
    @extend %flex-column-center;
  }
}
.programs__cards-wrap {
  display: grid;
  row-gap: 50px;
}
.program-card {
  display: grid;
  row-gap: 32px;
  &__header {
    @extend %flex-column-center;
    width: 327px;
    padding: 28px 35px;
    border: 1px solid $brand_color2_light;
    border-radius: 4px;
    text-align: center;
    .program-card__title {
      @include font("Montserrat", 700, 16px);
      color: $text_color;
      order: 1;
    }
    .program-card__price {
      @include font("Montserrat", 900, 18px);
      color: $brand_color2;
      margin-bottom: 16px;
      span {
        font-size: 40px;
      }
      &.program-card__overhead {
        font-size: 22px;
      }
    }
  }
  &__list {
    display: grid;
    row-gap: 12px;
    &-item {
      display: flex;
      align-items: center;
    }
    .program-card__list-check {
      margin-right: 16px;
    }
  }
  &__cta {
    margin: 0 auto;
    text-align: center;
  }
  &__btn {
    width: 230px;
    padding: 16px 0;
  }
  &__watch-btn {
    @include font("Roboto", 900, 14px);
    color: $brand_color2;
    margin-top: 10px;
    .program-card__play-img {
      margin-right: 12px;
      path {
        transition: $tr_time;
      }
    }
    &:hover,
    &:focus-within {
      color: $btn_hover_color;
      & > .program-card__play-img {
        path {
          fill: $btn_hover_color;
        }
      }
    }
  }
}
//PROGRAMS END
//BANNER SECTION START
.banner-section {
  padding-top: 106px;
  padding-bottom: 40px;
}
.banner {
  @extend %flex-column-center;
  background-color: $brand_color2;
  border-radius: 12px;
  color: $text_color_light;
  width: 327px;
  padding: 0 36px 48px 36px;
  box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
  &__img {
    order: -1;
    margin-top: -66px;
    margin-bottom: 40px;
  }
  &__description {
    @extend %flex-column-center;
    &-title {
      @include font("Montserrat", 800, 24px);
      margin-bottom: 25px;
      line-height: 1.3;
    }
    &-text {
      font-size: 16px;
      margin-bottom: 32px;
      line-height: 1.5;
    }
  }
  &__btn {
    padding: 16px 64px;
    border-radius: 70px;
  }
}
//BANNER SECTION END
//PARTNERS SECTION START
.partners {
  padding-top: 40px;
  padding-bottom: 40px;
}
.partners__slider {
  width: 375px;
  height: 30px;
  .partners__list {
    .swiper-notification {
      display: none;
    }
    .partner__img {
      object-fit: contain;
    }
  }
}
//PARTNERS SECTION END
//SUBSCRIBE SECTION START
.subscribe-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe {
  width: 327px;
  padding: 60px 28px;
  border-radius: 12px;
  text-align: center;
  color: $text_color_light;
  background: linear-gradient($bg_color2, $bg_color2),
    url(../img/big-flag.webp) no-repeat 50% 50% / cover;
  &__text {
    @include font("Montserrat", 600, 24px);
    margin-bottom: 32px;
    line-height: 1.3;
  }
  &__btn {
    padding: 16px 60px;
  }
}
//SUBSCRIBE SECTION END
//COURSES SECTION START
.courses {
  padding: 80px 0;
  background-color: $bg_color3;
}
.courses__slider {
  width: 327px;
  &.swiper {
    padding-top: 87px;
  }
  .slider {
    padding: 0;
  }
  .slider-btn {
    display: none;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $bg_color;
    box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
    &.swiper-button-next:after,
    &.swiper-button-prev:after {
      content: "";
    }
    .slider-btn__arrow-img {
      path {
        transition: $tr_time;
      }
    }
    &:hover {
      background-color: $brand_color2;
      & > .slider-btn__arrow-img {
        path {
          transition: $tr_time;
          fill: $bg_color;
        }
      }
    }
  }
  .slider-pagination {
    @extend %align-center;
    @include font("Montserrat", 700, 18px);
    line-height: 1.5;
    position: absolute;
    &.swiper-pagination {
      top: 0;
      bottom: initial;
      width: 200%;
      .swiper-pagination-bullet {
        background: transparent;
        padding: 0;
        border-radius: 5px;
        width: auto;
        height: auto;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        color: $brand-color;
        padding: 0 16px;
        &:nth-child(2) {
          padding: 0 6px;
        }
        &:nth-child(3) {
          padding: 0 34px;
        }
        &:nth-child(4) {
          padding: 0 20px;
        }
        &:nth-child(5) {
          padding: 0 40px;
        }
        & > .slider-pagination__value {
          font-size: 18px;
          color: $brand-color;
        }
      }
    }

    &__item {
      color: $text_color2;
      transition: $tr_time;
      &:hover {
        color: $brand_color;
      }
    }
    &__value {
      font-size: 0;
      transition: $tr_time;
    }
  }
  &.swiper-horizontal {
    .swiper-scrollbar {
      top: 47px;
      background: transparent;
      width: 130%;
      .swiper-scrollbar-drag {
        border-radius: 0;
        height: 3px;
        background-color: $brand_color;
      }
    }
  }
}

.slider-card {
  padding: 32px 24px;
  background-color: $bg_color;
  // box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
  border-radius: 10px;
  line-height: 1.5;
  .slider-title {
    @include font("Montserrat", 800, 20px);
    text-transform: uppercase;
    margin-bottom: 24px;
    line-height: 1.3;
  }
  &__title {
    color: $brand_color2;
  }
  &__description {
    margin-bottom: 48px;
  }
  &__info {
    @extend %column;
  }
  .info-item {
    &:first-child {
      .info-item__list-definition {
        font-weight: 800;
      }
      .info-item__list-value {
        display: flex;
        font-size: 12px;
        &:nth-last-child(n + 2) {
          padding-left: 31px;
          margin-top: 4px;
          margin-bottom: 16px;
          font-size: 14px;
        }
      }
    }
    &:nth-last-child(n + 2) {
      margin-bottom: 40px;
    }
    &__list-item {
      display: flex;
      position: relative;
      align-items: baseline;
      margin-bottom: 28px;
      .info-item__list-value {
        @extend %column;
        margin-left: 3px;
        font-weight: 800;
        color: $brand_color;
      }
      .info-item__list-progress {
        width: 100%;
        position: absolute;
        top: 26px;
        left: 0;
        background: #fff;
      }
    }
    progress::-webkit-progress-bar {
      background-color: $brand_color2_light;
      height: 4px;
      border-radius: 10px;
    }
    progress::-webkit-progress-value {
      background-color: $brand_color;
      height: 4px;
      border-radius: 10px;
    }
    progress::-moz-progress-bar {
      background-color: $brand_color2_light;
      height: 4px;
      border-radius: 10px;
    }
    &__list-definition {
      @extend %align-center;
    }

    &__list-check {
      margin-top: -3px;
      margin-right: 16px;
    }
  }
}
//COURSES SECTION END
//TEACHERS SECTION START
.teachers {
  padding-top: 80px;
  padding-bottom: 40px;
}
.teachers-slider {
  width: 375px;
}
//TEACHERS SECTION END
